<app-header></app-header>
<div class="container">
  <div class="wrap w-100 d-flex justify-content-around">
    <div class="side-bar-static">
      <app-static-details></app-static-details>
    </div>
    <div class="right-bar mt-5">
      <div class="row ml-0 mr-0">
        <div class="w-100 desc">
          <h2>Donor Login</h2>
          <p class="mt-2">
            Our blood donor community makes it easier for you to view your
            donation history, find convenient blood drives, and manage your
            contact preferences. If you have not done so already, you will need
            to register your hospital
          </p>
        </div>
      </div>
      <form id="donorlogin" name='donorlogin' action="" method="post">
      <div class="row ml-0 mr-0 mt-5">
        <div class="col-12">
          <h3>SIGNIN</h3>
        </div>
        <div class="col-12 d-flex flex-column align-items-end">
          <div class="w-50">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                name="inputEmail"
                aria-describedby="emailHelp"
                placeholder="Email"
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                name="inputPassword"
                placeholder="Password"
              />
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <input class="btn btn-primary" type="submit" value="Sign in">
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
