<app-header></app-header>
<div class="container">
    <div class="wrap w-100 d-flex justify-content-around">
        <div class="side-bar-static">
            <app-static-details></app-static-details>
        </div>
        <div class="right-bar mt-5">
            <div class="row ml-0 mr-0">
                <div class="w-100 desc">
                    <h2>Donor Registration</h2>
                    <p class="mt-2">
                        Our blood donor community makes it easier for you to view your donation history, find convenient
                        blood drives, and manage
                        your contact preferences. If you have not done so already, you will need to register your
                        hospital
                    </p>
                </div>
            </div>
            <form id="donerregistar" name='donerregistar' action="" method="post">
            <div class="row ml-0 mr-0 mt-5">
                <div class="col-12">
                    <h3>SIGN UP</h3>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <input type="email" class="form-control" id="nic" name="nic"
                            placeholder="NIC">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" name="email"
                            placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" name="city" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact2" name="contact2" placeholder="Contact 2">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            placeholder="Confirm Password">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <input type="email" class="form-control" id="donorName" name="donorName"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="district" name="district"
                            placeholder="District">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact1" name="contact1" placeholder="Contact 1">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password">
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <input class="btn btn-primary" type="submit" value="Register Now">
                </div>
            </div>
        </form>
        </div>
    </div>
</div>