<div class="container">
    <div class="wrap w-100 d-flex justify-content-around">
        <div class="side-bar-static">
            <app-static-details></app-static-details>
        </div>
        <div class="right-bar mt-5">
            <div class="row ml-0 mr-0">
                <div class="w-100 desc">
                    <h2>Hospital Registration</h2>
                    <p class="mt-2">
                        Our blood donor community makes it easier for you to view your donation history, find convenient
                        blood drives, and manage
                        your contact preferences. If you have not done so already, you will need to register your
                        hospital
                    </p>
                </div>
            </div>
            <div class="row ml-0 mr-0 mt-5">
                <div class="col-12">
                    <h3>SIGN UP</h3>
                </div>

               
                <div class="col-6">

                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Hospital ID">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Blood Bank Admin Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Contact 2">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Confirm Password">
                    </div>

                </div>

                <div class="col-6">
                    

                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Distric">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Contact 1">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Password">
                    </div>

                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div class="btn btn-primary">Register Now</div>
                </div>

            </div>
        </div>
    </div>
</div>