<app-donor-header></app-donor-header>
<div class="container">
  <div class="wrap w-100 d-flex justify-content-around">
    <div class="side-bar-static">
      <app-donor-navigation></app-donor-navigation>
    </div>
    <div class="right-bar mt-5">
      <div class="row ml-0 mr-0">
        <div class="w-100 desc">
          <h2>Events</h2>
          <p class="mt-2">
            Please find the upcoming blood donation events below
          </p>
        </div>
      </div>
      <div id="main" class="three-fourth last-in-row">
        <div class="tabs">
          <div class="tab-content">
            <div id="one">
              <div class="profile overview">
                <div class="innerLR">
                  <div class="row-fluid">
                    <div>
                      <!-- About -->
                      <div class="widget widget-heading-simple widget-body-white margin-none">
                        <div class="widget-head">
                          <h4 class="heading glyphicons user">
                            <i></i>Lions Club Charity Event
                          </h4>
                        </div>
                        <div class="widget-body">
                          <h5>
                            Colombo at <em>2013-10-02 </em> to
                            <em>2013-10-05 </em>&nbsp; Time:
                            <em>09:00:00 - 00:00:00</em>
                          </h5>
                          <img
                            src="http://localhost/Bloodbank/images/blog/01_10_2013_21246.jpg"
                            width="606"
                          />
                          <p>This event is organaised by Lions Club Charity Event</p>
                        </div>
                        <div class="widget-head">
                          <h4 class="heading glyphicons user">
                            <i></i>Doner Camp in Gampaha
                          </h4>
                        </div>
                        <div class="widget-body">
                          <h5>
                            Gampaha at <em>2013-09-30 </em> to
                            <em>2013-09-30 </em>&nbsp; Time:
                            <em>14:00:00 - 17:00:00</em>
                          </h5>
                          <img
                            src="http://localhost/Bloodbank/images/blog/day.jpg"
                            width="606"
                          />
                          <p>
                            The blood donation camp organized by the Prefect
                            board of Bandaranayke College was successfully held
                            on 26 november 2013 from 9.00 am to 1.00 pm in the
                            college main hall to commemorate &ldquo;2600th
                            Anniversary of the Enlightenment of Lord
                            Buddha&rdquo;. Board of Prefects achieved more than
                            expected amount of blood. The medical staff of
                            General Hospital of Gampaha, Students and old boys
                            of our school, Teachers, Parents participated to
                            this event to make it a success.
                          </p>
                        </div>
                        <div class="widget-head">
                          <h4 class="heading glyphicons user">
                            <i></i>World Blood Donor Day 2014
                          </h4>
                        </div>
                        <div class="widget-body">
                          <h5>
                            Colombo at <em>2013-09-30 </em> to
                            <em>2013-09-30 </em>&nbsp; Time:
                            <em>09:00:00 - 17:00:00</em>
                          </h5>
                          <img
                            src="http://localhost/Bloodbank/images/blog/30_09_2013_3286.jpg"
                            width="606"
                          />
                          <p>
                            WHO has selected Sri Lanka to host the World Blood
                            Donor Day 2014 global event. It is indeed an honer
                            for all the blood donors of the country. Annually
                            the blood collection by NBTS is 350,000 and as of
                            2012 statistics the contribution by voluntary donors
                            reaches 99%. Replacement system of blood collection
                            by family members and friends of the patient is not
                            recommended by WHO and Sri lanka is in the reach of
                            100% voluntary blood donations
                          </p>
                        </div>
                        <div class="widget-head">
                          <h4 class="heading glyphicons user">
                            <i></i>Dengue fever restrictions lifted in
                            Piliyandala anPiliyandala and Kesbewa
                          </h4>
                        </div>
                        <div class="widget-body">
                          <h5>
                            Piliyandala and Kesbewa at <em>2013-09-01 </em> to
                            <em>2013-09-01 </em>&nbsp; Time:
                            <em>08:00:00 - 00:00:00</em>
                          </h5>
                          <img
                            src="http://localhost/Bloodbank/images/blog/Mosquito.jpg"
                            width="606"
                          />
                          <p>
                            Piliyandala and Kesbewa residents can now give blood
                            after the removal of temporary restrictions designed
                            to protect the blood supply from a seasonal dengue
                            fever outbreak. Blood Service is now calling on
                            Piliyandala and Kesbewa residents to roll up their
                            sleeves and help save lives.
                          </p>
                        </div>
                        <hr class="sep10" />
                      </div>
                      <!-- // About END -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
